#search {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.search-progress-bar {
  height: 5px;
  overflow: hidden;
  transform: translateZ() scaleY(1);
  transform-origin: center center;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, transform;
}

.indeterminate {
  background-color: rgba(0, 173, 181, 0.38);
}

.progress-bar-track,
.progress-bar-track:after,
.progress-bar-fill,
.progress-bar-fill:after,
.progress-bar-buffer,
.progress-bar-buffer:after {
  width: 100%;
  height: 100%;
  position: absolute;
  will-change: transform;
}

.progress-bar-track {
  left: -150%;
  animation: b 2s linear infinite;
  transform-origin: top left;
}

.progress-bar-fill {
  left: -55%;
  animation: d 2s linear infinite;
  transform-origin: top left;
}

.progress-bar-buffer {
  transform-origin: top left;
}

.progress-bar-track:after,
.progress-bar-fill:after {
  background-color: #00adb5;
  display: inline-block;
  left: 0;
  content: " ";
}

.progress-bar-track:after {
  animation: c 2s linear infinite;
}

.progress-bar-fill:after {
  animation: e 2s linear infinite;
}

.progress-bar-buffer:after {
  display: inline-block;
  left: 0;
  content: " ";
}

@keyframes b {
  0% {
    transform: translateX(0);
  }

  20% {
    animation-timing-function: cubic-bezier(0.5, 0, 0.7, 0.5);
    transform: translateX(0);
  }

  60% {
    animation-timing-function: cubic-bezier(0.3, 0.38, 0.55, 0.96);
    transform: translateX(83.67%);
  }

  to {
    transform: translateX(200.61%);
  }
}

@keyframes c {
  0% {
    transform: scaleX(0.08);
  }

  35% {
    animation-timing-function: cubic-bezier(0.33, 0.12, 0.79, 1);
    transform: scaleX(0.08);
  }

  70% {
    animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    transform: scaleX(0.66);
  }

  to {
    transform: scaleX(0.08);
  }
}

@keyframes d {
  0% {
    animation-timing-function: cubic-bezier(0.15, 0, 0.52, 0.41);
    transform: translateX(0);
  }

  25% {
    animation-timing-function: cubic-bezier(0.31, 0.28, 0.8, 0.73);
    transform: translateX(37.65%);
  }

  50% {
    animation-timing-function: cubic-bezier(0.4, 0.63, 0.6, 0.9);
    transform: translateX(84.39%);
  }

  to {
    transform: translateX(160.28%);
  }
}

@keyframes e {
  0% {
    animation-timing-function: cubic-bezier(0.15, 0, 0.52, 0.41);
    transform: scaleX(0.08);
  }

  20% {
    animation-timing-function: cubic-bezier(0.31, 0.28, 0.8, 0.73);
    transform: scaleX(0.46);
  }

  45% {
    animation-timing-function: cubic-bezier(0.4, 0.63, 0.6, 0.9);
    transform: scaleX(0.73);
  }

  to {
    transform: scaleX(0.08);
  }
}

#filter {
  padding: 0 20px;
}

.search-info {
  color: #00adb5;
  padding: 20px 0;
  font-size: 28px;
  line-height: 1.25;
  display: flex;
  flex-direction: column;
}

.searchInfo__title {
  margin-bottom: 8px;
}

.searchInfo__subtitle {
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 16px;
  width: 70%;
}

.searchInfo__button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 2rem;
  border: 2px #9696d8;
  border-radius: 50px;
  color: #fff !important;
  background-color: #9696d8;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 350ms ease;
}

.searchInfo__button:hover {
  opacity: 0.9;
}

.searchInfo__button--disabled {
  cursor: auto;
  background-color: #e0e0e0;
  color: #828282;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  border: 2px #9696d8;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 350ms ease;
}

.role-filter {
  width: 30%;
  min-width: 335px;
}

.filter__title {
  font-size: 20px;
  padding: 20px 0 8px 0;
}

.filterDropdown {
  background-color: #00adb5;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
}

.filterDropdown--active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filterDropdown__text {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: 500;
  color: white;
  width: 100%;
}

.filterDropdown__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  color: white;
  font-size: 24px;
}

.filterDropdown__list {
  position: absolute;
  border: 1px solid #e0e0e0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: white;
  top: 38px;
  z-index: 10;
  width: 100%;
}

.filterDropdown__item {
  border-top: 1px;
  border-color: #f0f0f0;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 4px;
  color: #242424;
}

.filterDropdown__item:hover {
  background-color: #4dc5cb;
  color: white;
}

#champions {
  padding-top: 40px;
}

.loading-state {
  margin: 80px 0;
  width: 100%;
}

.loading-state__icon {
  overflow: visible;
  animation: rotate-spinner 1s linear infinite;
  width: 1em;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}

.championCards {
  align-items: center;
  gap: 48px 5%;
}

.championCard {
  width: 30%;
  border-radius: 24px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  transition: 300ms scale ease-in-out;
}

.championCard:hover {
  cursor: pointer;
  transition: 300ms scale ease-in-out;
  scale: 1.1;
}

.championCard__image {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.championCard__name {
  padding: 10px;
  color: #324b4d;
  font-weight: 700;
  font-size: 20px;
}

.championCard__title {
  font-size: 14px;
}

.stat {
  display: flex;
  align-items: center;
  padding: 2px 10px;
  color: #242424;
}

.stats__text {
  display: flex;
  align-items: center;
  width: 30%;
}

.stats__icon {
  min-width: 16px;
  min-height: 16px;
}

.stats__textLabel {
  font-weight: 500;
  font-size: 16px;
}

.championCard__roles {
  display: flex;
  align-items: center;
  padding: 8px 10px 18px 10px;
  font-weight: 500;
  font-size: 16px;
}

@media (max-width: 375px) {
  .stat {
    display: block;
  }
}

@media (max-width: 425px) {
  .filterDropdown {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .searchInfo__button,
  .searchInfo__button--disabled {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .searchInfo__subtitle {
    width: 100%;
  }

  .championCard {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .championCard {
    width: 47%;
  }
}

@media (min-width: 1024px) {
  .championCard {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .pageNumbers {
    display: none;
  }
}
