@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}

p {
  margin: 0;
}

::selection {
  background: #9696d8;
  color: #fff;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}

.explore__content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.black-text {
  color: #324b4d;
  display: inline-block;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.explore {
  overflow-x: hidden;
}